# dependencies
node_modules/
package-lock.json

# demo
build

# lib
lib/*

# un-ignore src and specific files
!lib/src/
!lib/.npmignore
!lib/clean.sh
!lib/eslint.config.js
!lib/package.json
!lib/tsconfig.json
!lib/LICENSE
!lib/README.md