*
# Include specific things
!src/
!site/
!site/**/*
site/node_modules
site/package-lock.json
site/build
!.eslintrc.json
!.npmignore
!clean.sh
!LICENSE
!package.json
!README.md
!tsconfig.json
!.gitignore
!package.json