:root {
  --breakpoint: 768px;
  --background-color: #f4f4fb;
  --code: #b71c1c;
  --subtitle: var(--aui-dark-gray);
}

[data-theme="dark"] {
  --background-color: #222;
  --code: #f90404;
  --subtitle: var(--aui-moon-gray);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: var(--background-color);
  overflow-x: hidden;
  color: var(--aui-color-default);
}

code {
  color: var(--code);
  font-size: 90%;
  border-radius: 4px;
  padding: 0 0.25rem;
}

.page-title-text {
  font-size: calc(2.5rem + 1vw);
  font-weight: 700;
}

.subtitle {
  color: var(--subtitle);
}

.m-auto {
  margin: 0 auto;
}

.w-fc {
  width: fit-content;
}

.bordering {
  border: 2px solid red;
}

.aui-default-background {
  background-color: var(--aui-default-background);
}
